@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	::before,
	::after {
		box-sizing: border-box;
		border-style: solid;
	}
}

@layer components {
	.mobile__template--card {
		@apply relative z-1 w-full flex flex-col sm:h-full max-sm:rounded-t-3xl max-sm:overflow-hidden max-sm:transition-max-height max-sm:duration-700 max-sm:bg-white;
	}
	.hidden-scroll::-webkit-scrollbar {
		height: 0;
		width: 0;
	}
	.form__scrollbar--custom {
		@media screen and (min-width: 640px) {
			&::-webkit-scrollbar {
				overflow: hidden;
				width: 6px;
			}
			&::-webkit-scrollbar-track {
				background-color: #d3d3d3;
				border-radius: 20px;
			}
			&::-webkit-scrollbar-thumb {
				cursor: pointer;
				background-clip: content-box;
				border-radius: 20px;
				background: #a3a3a3;

				&:hover {
					background: #808080;
				}
			}
			&[scroll-color="green"]::-webkit-scrollbar-thumb {
				background: #71aa54;

				&:hover {
					background: #4e8234;
				}
			}
		}
	}
	.section__header {
		@apply pl-3 pr-4 py-2 text-sm sm:text-base whitespace-nowrap font-bold flex items-center gap-3 border-b tracking-wider;
	}
	.section__header--default {
		@apply min-w-48 w-fit section__header;
		& > i {
			@apply text-lg;
		}
	}

	.grid__card--alternate {
		@media screen and (min-width: 640px) {
			& > div:nth-child(4n),
			& > div:nth-child(4n - 3) {
				--opacity: 0.2;
			}
			& > div:nth-child(4n - 1),
			& > div:nth-child(4n - 2) {
				--opacity: 0.1;
			}
		}
		@media screen and (max-width: 639px) {
			& > div:nth-child(2n) {
				--opacity: 0.1;
			}
			& > div:nth-child(2n + 1) {
				--opacity: 0.2;
			}
		}
	}

	.table__header--default {
		> th {
			text-align: center;
			font-weight: normal;
		}
	}
	.backface-hidden {
		backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
	}
}

/**
 * Animations
 */
@layer components {
	.animate-slide-down {
		animation: animate-down 0.5s ease-in-out;
	}

	@keyframes animate-down {
		0% {
			transform: translateY(-100%);
		}
		100% {
			transform: translateY(0%);
		}
	}

	.animate-slide-up {
		animation: animate-up 0.5s ease-in-out;
	}

	@keyframes animate-up {
		0% {
			transform: translateY(100%);
		}
		100% {
			transform: translateY(0%);
		}
	}

	.animate-fade-in {
		animation: animate-fade-in 0.5s ease-in-out;
	}

	@keyframes animate-fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

// Fonts only for personal uses.
@font-face {
	font-family: vcr-mono;
	src: url(./fonts/vcr_osd_mono.ttf);
}
@font-face {
	font-family: Tektur;
	src: url(./fonts/Tektur.ttf);
}

// Initalizer for custom default sizing.
html,
body,
body > header {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	overflow: hidden;
	background-color: black;
	scroll-behavior: smooth;
	touch-action: none;
}

@media only screen and (max-width: 640px) {
	[data-mobiletext] > span {
		display: none;
	}

	[data-mobiletext]::before {
		content: attr(data-mobiletext);
	}
}
